*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100vh;
    /* border-style: dashed;
    border-color: aqua; */
    
}

.profile-pic-div{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    /* border-style: dashed;
    border-color: aqua; */
}

.profile-pic-img{ /*foto no modo light*/
    display: flex;
    width: 90%;
    height: 90%;
    border-radius: 100px;
    border-style: solid;     

    transition: 150ms; 

    /* border-width: 5px;
    border-color: rgb(2, 192, 255); */
}

.switch-mode-div{
    background: none no-repeat scroll 0 0 #fff;
    border-radius: 25px;
    margin-top: 36px;
    height: 45px;
    width: 100px;
    /* border-style: dashed; */
    /* border-width: 3px;
    border-color: rgb(2, 192, 255); */

    transition: 150ms;
}



.switch-buton{
    background-color: black;
    color: black;
    margin: 2px;
    margin-left: 3px;
    position: absolute;
    height: 34px;
    width: 34px;
    font-size: 10px;
    border-radius: 50%;
    transition:300ms;
    z-index: 11;

}

.switch-buttinho{
    background-color: white;
    color: white;
    position: absolute;
    margin: 15px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    z-index: 12;
    transition: 300ms;
}




.links-div{
    display: flex;
    /* overflow-y: scroll; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 50%;
    /* border-style: dashed;
    border-color: black; */
}

.item-link{
    color: white;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 60%;
    margin: 10px 0;
    background: linear-gradient(to top right, #517681,#2b6679, #5a8da5);
    border-radius: 10px;
    opacity: 50%;
    border-width: 3px;
    border-style:solid;
    border-color: black;

    transition: 150ms;
}

.item-link:hover{
    background: rgb(7, 125, 172);
    color:white;
    opacity: 100%;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
    width: 20%;
    height: 60px;
    /* border-style: dashed;
    border-color: orange;  */
}


ion-icon {
  font-size: 60px;
  color: black;
  transition: 300ms;
}



li{
    padding: 2px;
}

body{
    background-image: url('/img/backgroundLight.png');
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;  
    transition: 0.3s; 
    /* background: linear-gradient(to top left, lightblue,red,orange, blue); */
}

body.dark-mode {
    background-image: url('/img/darkModeBackground.png');
    color: white;
}

body.dark-mode .switch-buton{
    background-color: white;
    transform: translateX(59px);
    
}

body.dark-mode .switch-mode-div{
    background: black;
}

body.dark-mode .switch-buttinho{
    transform: translateX(59px);
    background-color: black;
}

body.dark-mode ion-icon{
    color: white;
}

body.dark-mode .item-link{
    background: linear-gradient(to top right, #1f3641 ,#2b6679, #233135);
}




a{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    font-size: 25px;
    font-weight: 800;
    text-decoration: none;
    color: white
}


a:visited{
    color: inherit;
    text-decoration: none;
}
